name: test-release

on:
  push:
    branches:
      - release/*
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: test release
        run: |
          echo $GITHUB_SHA
          echo $GITHUB_REF
          echo $GITHUB_REF > /tmp/$GITHUB_SHA

          release=$(sed "s/refs\/heads\/release\///g" /tmp/$GITHUB_SHA)
          echo $release
          rm -rf TarsDocker
          git clone https://github.com/TarsCloud/TarsDocker
          cd TarsDocker/framework

          rm -rf TarsWeb
          git clone https://github.com/TarsCloud/TarsWeb
          cd TarsWeb
          webLatestTag=$(git describe --tags `git rev-list --tags --max-count=1`  --abbrev=0 --always)

          cd ..
          
          ./build-docker.sh release/$release $webLatestTag $release
